<!DOCTYPE html>

{% extends 'lit/base.html' %}
{% load staticfiles %}

{% block css_block %}
	<!-- Bootstrap style edits -->
    <link href="{% static 'css/lit.css' %}" rel="stylesheet">
{% endblock %}

{% block title_block %}
	Edit {{ article.title }}
{% endblock %}


{% block body_block %}
	<h1 class="display-3" style="padding-top:20px;">Add a new Analysis</h1>
	{% if registered %}
		<strong>Article uploaded successfully!</strong>
		<a href="{% url 'index' %}">Return to the homepage.</a><br />
	{% else %}
		<form id="article_form" method="post" action="{% url 'add_article' user.username %}"
			enctype="multipart/form-data">

		{% csrf_token %}
		
		<!-- Display the form -->
		{% for field in article_form %}
		<div class="fieldWrapper">
			{{ field.errors }}
			{{ field.label_tag }} {{ field }}
			{% if field.help_text %}
			<p class="help">{{ field.help_text|safe }}</p>
			{% endif %}
		</div>
		{% endfor %}
		

		<!-- Provide a button to click to submit the form. -->
		<input type="submit" name="submit" value="Submit" id="id_button" />
		</form>
	{% endif %}
{% endblock %}
