<!DOCTYPE html>

{% extends 'lit/base.html' %}
{% load staticfiles %}

{% block title_block %}
{% endblock %}


{% block body_block %}
	<div class="row" style="padding-top:30px;">
		<div class="col-md-3">
			<img src="{{ MEDIA_URL }}{{ article.img }}"
				 width="300"
				 height="400"
				 alt="Cover" 
				 style="max-width: 100%;
						height: auto;
						width: auto\9;"/>
		</div>
		<div class="col-md-9">
			<div class="row">
				<div class="col-md-10"><h1 class="display-3">{{ article.title }}</h1></div>
			</div>
			<div class="row" style="padding-top:30px;">
				<div class="col-md-3"><h4>{{ article.date_published }}</h4></div>
				<div class="col-md-3"><h4>{{ article.rating }}</h4></div>
				<div class="col-md-3"><h4><a href="{% url 'profile' article.author %}">{{ article.author }}</a></h4></div>
				{% if user.is_authenticated %}
					{% if favourited %}
					<div class="col-md-3"><h4><a href="{% url 'remove_favourite' user.username article.slug %}">Remove from Favourites</a></h4></div>
					{% else %}
					<div class="col-md-3"><h4><a href="{% url 'add_favourite' user.username article.slug %}">Add to Favourites</a></h4></div>
					{% endif %}
				{% endif %}
			</div>
			<div class="row" style="padding-top:30px;">
				<div class="col-md-3"><h4>{{ article.category }}</h4></div>
				<div class="col-md-3"><h4>{{ article.book }}</h4></div>
			</div>
			<div class="row" style="padding-top:30px;"> 
				<div class="col-md-3"><h4>{{ article.date_published }}</h4></div>
			</div>
		</div>
	</div>
	
	<div style="padding-top:30px;">
		<h1 style="text-align:center">General Analysis</h1>
		<p style="text-align:center">{{ article.analysis}}</p>
	</div>
	
	{% if snippets %}
	<div style="padding-top:30px;">
		<h1 style="text-align:center">Snippets</h1>
		{% for snippet in snippets %}
		<div class="row" style="padding-top:10px;">
			<div class="col">
				<h4 style="text-align:center">{{ snippet.title }} on page: {{ snippet.page }}</h4>
			</div>
			<div class="row"">
				<div class="col-md-6">
					<h4 style="text-align:center;padding-top:10px;">Passage</h4>
					<p style="position: relative;
							  float: left;
							  top: 50%;
							  left: 50%;
							  transform: translate(-50%, -50%);">{{ snippet.passage }}</p>
				</div>
				<div class="col-md-6">
					<h4 style="text-align:center;padding-top:10px;">Analysis</h4>
					<p style="position: relative;
							  float: left;
							  top: 50%;
							  left: 50%;
							  transform: translate(-50%, -50%);">{{ snippet.analysis }}</p>
				</div>
		</div>
		{% endfor %}
	</div>
	{% endif %}
	
	{% if comments %}
	<div style="padding-top:30px;">
		<h1 style="text-align:center">Comments</h1>
		{% for comment in comments %}
		<div class="row" style="padding-top:10px; border-bottom: 1px solid #eee;">
			<div class="col-md-3">
				<h4 style="text-align:center">From: {{ comment.user }}</h4>
				<h4 style="text-align:center; padding-top:10px;">Rating: {{ comment.rating }}</h4>
				{% if userprofile == comment.user %}
				<h4 style="text-align:center; padding-top:10px;"><a href="#">Delete</a></h4>
				{% endif %}
			</div>
			<div class="col-md-9">
				<p style="position: relative;
						  float: left;
						  top: 50%;
						  transform: translate(-50%, -50%);">{{ comment.user_comment }}</p>
			</div>
		</div>
		{% endfor %}
	</div>
	{% endif %}
	
	{% if user.is_authenticated %}
	<div style="padding-top:30px;">
		<form id="comment_form" method="post" action="{% url 'show_article' article.slug %}"
			enctype="multipart/form-data">

		{% csrf_token %}

		<!-- Display each form -->
		{{ comment_form.as_p }}

		<!-- Provide a button to click to submit the form. -->
		<input type="submit" name="submit" value="Post" />
		</form>
	</div>
	{% endif %}
	
{% endblock %}


