<!DOCTYPE html>

{% extends 'lit/base.html' %}
{% load staticfiles %}

{% block css_block %}
	<!-- Bootstrap style edits -->
    <link href="{% static 'css/lit.css' %}" rel="stylesheet">
{% endblock %}

{% block title_block %}
	Edit your Profile
{% endblock %}


{% block body_block %}
	<h1 class="display-3" style="padding-top:20px;">Edit your Profile</h1>
	<form id="user_form" method="post" action="{% url 'edit_profile' %}" enctype="multipart/form-data">

		{% csrf_token %}
		
		<!-- Display each form -->
		{% for field in user_form %}
		<div class="fieldWrapper">
			{{ field.errors }}
			{{ field.label_tag }} {{ field }}
			{% if field.help_text %}
			<p class="help">{{ field.help_text|safe }}</p>
			{% endif %}
		</div>
		{% endfor %}
		
		{% for field in profile_form %}
		<div class="fieldWrapper">
			{{ field.errors }}
			{{ field.label_tag }} {{ field }}
			{% if field.help_text %}
			<p class="help">{{ field.help_text|safe }}</p>
			{% endif %}
		</div>
		{% endfor %}


		<!-- Provide a button to click to submit the form. -->
		<input type="submit" name="submit" value="Save" id="id_button" />
	</form>
{% endblock %}
