<!DOCTYPE html>

{% extends 'lit/base.html' %}
{% load staticfiles %}

{% block css_block %}
	<!-- Bootstrap style edits -->
    <link href="{% static 'css/lit.css' %}" rel="stylesheet">
{% endblock %}

{% block title_block %}
	Login
{% endblock %}


{% block body_block %}
	<h1 class="display-3">Login to Literature Breakdown</h1>
	{% if error_message %}
		<strong style="text-align: center;">{{ error_message }}</strong>
	{% endif %}
	<form id="login_form" method="post" action="{% url 'login' %}">
		{% csrf_token %}
		<p style="text-align: center;">Username</p><input type="text" name="username" value="" size="50" id="userfield" />
		<br />
		<p style="text-align: center;">Password</p><input type="password" name="password" value="" size="50" id="passfield" />
		<br />
		<input type="submit" value="Submit" id="id_button" />
	</form>
{% endblock %}



