<!DOCTYPE html>

{% extends 'lit/base.html' %}
{% load staticfiles %}

{% block title_block %}
	New Articles
{% endblock %}


{% block body_block %}
	<div class="row">
	<div class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 main">

		<nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
		  <ul class="nav nav-pills flex-column">
			<li class="nav-item">
			<h2 style="text-align:center">Browse Site</h2>
			</li>
				<li class="nav-item">
				  <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="{% url 'faq' %}">FAQ</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link active" href="{% url 'new' %}">New</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="{% url 'trending' %}">Trending</a>
				</li>
			<li class="nav-item">
			<h2 style="text-align:center">Browse Categories</h2>
			</li>

			{% if categories %}
			  {% for category in categories %}
					<li class="nav-item">
					  <a class="nav-link" href="{% url 'show_category' category.slug %}">{{ category.name }}</a>
					</li>
			   {% endfor %}
			 {% else %}
				  <strong>There are no categories to show.</strong>
			{% endif %}
			</ul>
		</nav>
		
		<div>
			<h1 class="display-3">New Articles as of: {{ date_today }}</h1>
		</div>
	
		<div class="row marketing">
			<div class="col-lg-12">
			{% if articles_new %}
			{% for article in articles_new %}
				<div class="row" style = "padding-bottom:5px; padding-top:5px; border-bottom: 1px solid #eee;">
					<div class="col-lg-3">
						<a href="{% url 'show_article' article.slug %}">
						{% if article.img %}
						<img src="{{ MEDIA_URL }}{{ article.img }}"
							 width="300"
							 height="400"
							 alt={{ article.title }} 
							 style="max-width: 100%;
									height: auto;
									width: auto\9;"/>
						{% else %}
						<img src="{% static 'dummy_book.png' %}"
							 width="300"
							 height="400"
							 alt={{ article.title }} 
							 style="max-width: 100%;
									height: auto;
									width: auto\9;"/>
						{% endif %}
						</a>
					</div>
					<div class="col-lg-9">
						<div class="row">
							<a href="{% url 'show_article' article.slug %}"><h2>{{ article.title }}</h2></a>
						</div>
						<div class="row">
							<h2>{{ article.rating }}</h2>
						</div>
						<div class="row">
							<h2>{{ article.category }}</h2>
						</div>
						<div class="row">
							<h2>{{ article.date_published }}</h2>
						</div>
					</div>
				</div>
			{% endfor %}
			{% else %}
			<strong>There are no new articles to show.</strong>
			{% endif %}
			</div>
		</div>
	</div>
	</div>
{% endblock %}


