<!DOCTYPE html>

{% extends 'lit/base.html' %}
{% load staticfiles %}

{% block title_block %}
	{{ user.username }} Profile
{% endblock %}


{% block body_block %}
	<div class="row" style="padding-top:30px;">
		<div class="col-md-3">
			{% if userprofile.picture %}
			<img src="{{ MEDIA_URL }}{{ userprofile.picture }}"
				 width="300"
				 height="300"
				 alt={{ user.username }} />
			{% else %}
			<img src="{% static 'dummy.png' %}"
				 width="300"
				 height="300"
				 alt={{ selecteduser.username }} />
			{% endif %}
		</div>
		<div class="col-md-9">
			<div class="row">
				<div class="col-md-10"><h1 class="display-3">{{ selecteduser.username }}</h1></div>
			</div>
			<div class="row">
				<div class="col-md-6"><h4>Email: {{ selecteduser.email }}</h4></div>
				{% if userprofile.website %}
				<div class="col-md-6"><h4>Website: {{ userprofile.website }}</h4></div>
				{% endif %}
			</div>
			<div class="row" style="padding-top:20px;">
				<div class="col-md-6"><h4>Joined: {{ selecteduser.date_joined }}</h4></div>
				<div class="col-md-6"><h4>Last Seen: {{ selecteduser.last_login }}</h4></div>
			</div>
			{% if userprofile.name or userprofile.age or userprofile.gender or userprofile.location %}
			<div class="row" style="padding-top:20px;"> 
				{% if userprofile.name %}
				<div class="col-md-3"><h4>Name: {{ userprofile.name }}</h4></div>
				{% endif %}
				{% if userprofile.age %}
				<div class="col-md-2"><h4>Age: {{ userprofile.age }}</h4></div>
				{% endif %}
				{% if userprofile.gender %}
				<div class="col-md-3"><h4>Gender: {{ userprofile.gender }}</h4></div>
				{% endif %}
				{% if userprofile.location %}
				<div class="col-md-4"><h4>Location: {{ userprofile.location }}</h4></div>
				{% endif %}
			</div>
			{% endif %}
			<div class="row" style="padding-top:20px;"> 
				<div class="col-md-3"><h4>Analyses Written: {{ numb_articles }}</h4></div>
			</div>
		</div>
	</div>
	
	{% if user.username == selecteduser.username %}
	<div class="col-md-12" style="padding-top:30px;">
		<h1 style="text-align:center">Profile Admin Actions</h1>
		<h4 style="text-align: center;">
			<a href="{% url 'add_article' user.username %}">Add a new Analysis</a> - 
			<a href="{% url 'edit_profile' %}">Edit Profile</a> - 
			<span onclick="return confirm('Are you sure?')">
				<a href="{% url 'remove_profile' %}">Delete Account</a>
			</span>
		</h4>
	</div>
	{% endif %}
	{% if articles %}
	<div style="padding-top:30px;">
		<h1 style="text-align:center">User's Analyses</h1>
		<p>
			{% for article in articles %}
			<h4 style="text-align: center"><a href="{% url 'show_article' article.slug %}">{{ article.title }}</a></h4>
			{% endfor %}
		</p>
	</div>
	{% endif %}
	
	{% if favourites %}
	<div style="padding-top:30px;">
		<h1 style="text-align:center">User's Favourites</h1>
		<p>
			{% for favourite in favourites %}
			<h4 style="text-align: center"><a href="{% url 'show_article' favourite.slug %}">{{ favourite.title }}</a></h4>
			{% endfor %}
		</p>
	</div>
	{% endif %}
{% endblock %}


