<!DOCTYPE html>

{% extends 'lit/base.html' %}
{% load staticfiles %}

{% block title_block %}{{ user.username }} Profile{% endblock %}


{% block body_block %}
	<div class="row" style="padding-top:30px;">
		<div class="col-md-3">
			{% if userprofile.picture %}
			<img src="{{ MEDIA_URL }}{{ userprofile.picture }}"
				 width="300"
				 height="300"
				 alt={{ user.username }} />
			{% else %}
			<img src="http://lorempixel.com/300/300/people/"
				 width="300"
				 height="300"
				 alt={{ user.username }} />
			{% endif %}
		</div>
		<div class="col-md-9">
			<div class="row">
				<div class="col-md-10"><h1 class="display-3">{{ selecteduser.username }}</h1></div>
			</div>
			<div class="row" style="padding-top:30px;">
				<div class="col-md-4"><h4 style="text-align: center">{{ selecteduser.email }}</h4></div>
				<div class="col-md-4"><h4 style="text-align: center">{{ selecteduser.first_name }} {{ selecteduser.last_name }}</h4></div>
				<div class="col-md-4"><h4 style="text-align: center">{{ userprofile.website }}</h4></div>
			</div>
			<div class="row" style="padding-top:30px;">
				<div class="col-md-6"><h4 style="text-align: center">Joined: {{ selecteduser.date_joined }}</h4></div>
				<div class="col-md-6"><h4 style="text-align: center">Last Seen: {{ selecteduser.last_login }}</h4></div>
			</div>
			<div class="row" style="padding-top:30px;"> 
				<div class="col-md-12"><h4>Analyses Written: {{ numb_articles }}</h4></div>
			</div>
		</div>
	</div>
	
	{% if user.username == selecteduser.username %}
	<div class="col-md-12" style="padding-top:30px;">
		<h4>Profile Admin Actions: 
			<a href="{% url 'add_article' user.username %}">Add a new Analysis</a> - 
			<a href="{% url 'edit_profile' %}">Edit Profile</a> - 
			<span onclick="return confirm('Are you sure?')">
				<a href="{% url 'remove_profile' %}">Delete Account</a>
			</span>
		</h4>
	</div>
	{% endif %}
	{% if articles %}
	<div style="padding-top:30px;">
		<h1 style="text-align:center">User's Analyses</h1>
		<p>
			{% for article in articles %}
			<h4 style="text-align: center"><a href="{% url 'show_article' article.slug %}">{{ article.title }}</a></h4>
			{% endfor %}
		</p>
	</div>
	{% endif %}
	
	{% if favourites %}
	<div style="padding-top:30px;">
		<h1 style="text-align:center">User's Favourites</h1>
		<p>
			{% for favourite in favourites %}
			<h4 style="text-align: center"><a href="{% url 'show_article' favourite.slug %}">{{ favourite.title }}</a></h4>
			{% endfor %}
		</p>
	</div>
	{% endif %}
{% endblock %}


