<!DOCTYPE html>

{% extends 'lit/base.html' %}
{% load staticfiles %}

{% block title_block %}
{% endblock %}


{% block body_block %}
<div class="row">
<div class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 main">

	<nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
	<ul class="nav nav-pills flex-column">
		<li class="nav-item">
			<h2 style="text-align:center">Browse Site</h2>
		</li>
		<li class="nav-item">
			<a class="nav-link active" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{% url 'faq' %}">FAQ</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{% url 'new' %}">New</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{% url 'trending' %}">Trending</a>
		</li>
		<li class="nav-item">
			<h2 style="text-align:center">Browse Categories</h2>
		</li>

		{% if categories %}
		{% for category in categories %}
		<li class="nav-item">
			<a class="nav-link" href="{% url 'show_category' category.slug %}">{{ category.name }}</a>
		</li>
		{% endfor %}
		{% else %}
		<strong>There are no categories to show.</strong>
		{% endif %}
	</ul>
	</nav>

	<div>
		{% if user.is_authenticated %}	
		<h1 class="display-3">Literature Breakdown - Welcome Back</h1>
		{% else %}
		<h1 class="display-3">Literature Breakdown</h1>
		{% endif %}
	</div>

	<div class="row marketing">
		<div class="col-lg-6">
			<h4>New Analyses</h4>
			<p>
				{% if articles_new %}
				<ul>
					{% for article in articles_new %}
					<a href="{% url 'show_article' article.slug %}">
						<li>{{ article.title }}</li>
					</a>
					{% endfor %}
				</ul>
				{% else %}
				<strong>There are no new articles to show.</strong>
				{% endif %}
			</p>
		</div>

		<div class="col-lg-6">
			<h4>Trending Analyses</h4>
			<p>
				{% if articles_trending %}
				<ul>
					{% for article in articles_trending %}
					<a href="{% url 'show_article' article.slug %}">
						<li>{{ article.title }}</li>
					</a>
					{% endfor %}
				</ul>
				{% else %}
				<strong>There are no trending articles to show.</strong>
				{% endif %}
			</p>
		</div>
	</div>

</div>
</div>
{% endblock %}


